<!DOCTYPE html>
<html>
  <head>
    <title>Render Info</title>
  </head>
  <body>
    <table border="1">
        <tr><td><a href="/">Archives</a></td><td>{{archive_count}}</td></tr>
        <tr><td><a href="/">Fonds</a></td><td>{{fond_count}}</td></tr>
        <tr><td><a href="/">Charters</a></td><td>{{charter_count}}</td></tr>
        <tr><td><a href="/">Images</a></td><td>{{image_count}}</td></tr>
        <tr><td><a href="/">Loading Time</a></td><td>{{load_time}} sec.</td></tr>
        <tr><td><a href="/">Uptime</a></td><td>{{uptime}} sec.</td></tr>
  </body>
</html>